// @import url("https://tbcconcept.ge/fonts/TBCXRegular.dee156cc.woff2");
// @import url("https://tbcconcept.ge/fonts/TBCXMedium.8ef1248a.woff2");
// @import url("https://tbcconcept.ge/fonts/TBCXBold.6db5e61d.woff2");
@font-face {
  font-family: "tbs-font";
  src: url("../fonts/TBCXBold.6db5e61d.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "tbs-font";
  src: url("../fonts/TBCXRegular.dee156cc.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tbs-font";
  src: url("../fonts/TBCXMedium.8ef1248a.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
// responsive mixin
@mixin respond-to($media) {
  @if $media == "small-phone" {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $media == "phone" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $media == "tablet" {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $media == "desktop" {
    @media (max-width: 1060px) {
      @content;
    }
  } @else if $media == "large-desktop" {
    @media (max-width: 1440px) {
      @content;
    }
  }
}
// starter
* {
  box-sizing: border-box;
  font-family: "tbs-font";
}
body {
  margin: 0;
  background-color: #f9fafa;
  padding-top: 81px;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
.page-scroll {
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  transition: all 5s ease;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 47px;
  @include respond-to("desktop") {
    width: 100%;
  }
  @include respond-to("small-phone") {
    padding: 15px;
  }
}
.section-padding {
  padding: 60px 0;
  @include respond-to("desktop") {
    padding: 50px 0;
  }
  @include respond-to("phone") {
    padding: 40px 0;
  }
  @include respond-to("small-phone") {
    padding: 36px 0;
  }
}
.section-title {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
    color: #141719;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    @include respond-to("small-phone") {
      font-size: 14px;
    }
  }
}
// header
.main-header {
  background-color: white;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.main-header-gray {
  background-color: #f9fafa;
}
.header-row {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
}

// logo

.logo {
  color: rgb(85, 95, 98);
  .logo-svg {
    display: flex;
    @include respond-to("phone") {
      display: none;
    }
  }
  .logo-svg-small {
    display: none;
    @include respond-to("phone") {
      display: flex;
    }
  }
}

// main navigation

.main-navigation {
  margin: 0 40px;
  @include respond-to("desktop") {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0;
    display: none;
    background-color: white;
    height: calc(100vh - 80px);
  }
  ul {
    display: flex;
    grid-column-gap: 32px;
    @include respond-to("desktop") {
      flex-direction: column;
    }
    li.nav-list {
      position: relative;
      z-index: 2;
      cursor: pointer;
      @include respond-to("desktop") {
        border-bottom: 1px solid #d1d5d6;
        padding: 32px 45px;
      }
      @include respond-to("small-phone") {
        padding: 32px 15px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        border-radius: 10px;
        background-color: rgb(24, 44, 192);
        transition: width 0.5s ease, left 0.5s ease;
        @include respond-to("desktop") {
          display: none;
        }
      }
      .list-button {
        color: #222222;
        font-size: 16px;
        height: 80px;
        display: flex;
        align-items: center;
        font-weight: 400;
        cursor: pointer;
        @include respond-to("large-desktop") {
          font-size: 14px;
        }
        @include respond-to("desktop") {
          display: flex;
          justify-content: space-between;
          height: auto;
          font-size: 18px;
          font-weight: 700;
          color: #141719;
        }
      }
      .list-dropdown {
        position: absolute;
        width: 200px;
        top: 81px;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease;
        @include respond-to("desktop") {
          position: static;
          width: 100%;
        }
        .list-dropdown-nav {
          display: flex;
          flex-direction: column;
          padding: 32px 0;
          grid-row-gap: 16px;
          @include respond-to("desktop") {
            padding: 20px 0 0 0;
          }
          a {
            font-size: 14px;
            font-weight: 600;
            padding-right: 37px;
            color: rgb(34, 34, 34);
            &:visited {
              color: #222222;
            }
            &:hover {
              color: #182cc0;
            }
            @include respond-to("desktop") {
              font-size: 16px;
              font-weight: 400;
            }
          }
          @include respond-to("desktop") {
          }
        }
      }
      .list-dropdown .active {
        display: block;
      }
      .nav-list-arrow {
        display: none;
        transition: transform 0.5s ease-in-out;
        @include respond-to("desktop") {
          display: block;
        }
      }
    }
  }
}
.hidden-nav {
  display: block;
}
.nav-block {
  @include respond-to("desktop") {
    opacity: 0;
    transition: opacity 1s ease;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.hiddenn {
  opacity: 1;
}
.list-dropdown.show {
  height: 165px !important;
}
.navigation-content.show {
  display: block !important;
}
.navigation-content.show {
  @include respond-to("desktop") {
    display: none !important;
  }
}
li:has(> .show) {
  &::after {
    width: 100% !important;
    left: 0 !important;
  }
}

.header-settings {
  display: flex;
  align-items: center;
  margin-left: auto;
  grid-column-gap: 16px;
}
.search-button {
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555f62;
  transition: color 0.25s;
  &:hover {
    color: #3295ce;
  }
}
.subscribe {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #182cc0;
  grid-column-gap: 6px;
  font-weight: 700;
  transition: color 0.5s;
  &:hover {
    color: #3295ce;
  }
  @include respond-to("small-phone") {
    font-size: 12px;
  }
}
.language-btn {
  display: flex;
  height: 36px;
  align-items: center;
  grid-column-gap: 4px;
  cursor: pointer;
  color: #555f62;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding: 0 8px;
  border-radius: 4px;
  transition: 0.25s;
  &:hover {
    background-color: #eef1f1;
    .lang-dropdown {
      display: block;
    }
  }
  @include respond-to("desktop") {
    display: none;
  }
}
.lang-dropdown {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  display: none;
  padding-top: 4px;
  .lang-dropdon-btn {
    box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
    height: 54px;
    color: #555f62;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e1e4e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.burger-menu-block {
  display: none;
  @include respond-to("desktop") {
    display: block;
  }
}
.burger-menu {
  width: 36px;
  height: 32px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  cursor: pointer;
  .bar {
    transform-origin: 100%;
    background-color: #555f62;
    height: 2px;
    transition: all 0.3s ease;
  }
  .top {
    width: 11px;
  }
  .middle {
    width: 20px;
  }
  .bottom {
    width: 15px;
  }
}
.middle.hidden {
  opacity: 0;
}

.burger-menu.open .top {
  transform: translateY(14px) rotate(45deg);
  width: 20px;
}

.burger-menu.open .bottom {
  transform: translateY(-14px) rotate(-45deg);
  width: 20px;
}
.nav-footer {
  display: none;
  @include respond-to("desktop") {
    display: block;
  }
}
.nav-footer-contact,
.footer-nav-contact {
  display: flex;
  flex-direction: column;
  padding: 32px 45px;
  @include respond-to("small-phone") {
    padding: 32px 15px;
  }
  h4 {
    font-size: 14px;
    margin: 0 0 24px 0;
    color: #141719;
    @include respond-to("phone") {
      font-size: 24px;
    }
    @include respond-to("small-phone") {
      font-size: 14px;
    }
  }
  .nav-contact {
    margin: 0 0 32px 0;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    @include respond-to("phone") {
      grid-row-gap: 32px;
    }
  }
  .nav-contact-row {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #555f62;
    cursor: pointer;
    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.nav-socmedia {
  display: flex;
  grid-column-gap: 15px;
  grid-column-gap: 4px;
  @include respond-to("phone") {
    grid-column-gap: 15px;
  }
  .socmedia-link-btn {
    color: rgb(85, 95, 98);
    width: 40px;
    height: 40px;
    background-color: #f9fafa;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    &:hover {
      color: #1b2fbb;
    }
    @include respond-to("phone") {
      width: 52px;
      height: 52px;
    }
  }
}

.nav-footer-row {
  padding: 32px 45px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eef1f1;
  background-color: #f9fafa;
  @include respond-to("phone") {
    flex-direction: column-reverse;
    grid-row-gap: 32px;
  }
  @include respond-to("small-phone") {
    padding: 32px 15px;
  }
  .nav-footer-copyright {
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
    font-size: 12px;
    color: rgb(85, 95, 98);
    @include respond-to("phone") {
      font-size: 14px;
    }
    @include respond-to("small-phone") {
      font-size: 12px;
    }
  }
  .nav-copyright-links {
    display: flex;
    align-items: center;
    grid-column-gap: 35px;
    .privacy-modal-btn {
      font-size: 12px;
      color: rgb(85, 95, 98);
      cursor: pointer;
      @include respond-to("phone") {
        font-size: 14px;
      }
      @include respond-to("small-phone") {
        font-size: 12px;
      }
    }
  }
}
.navigation-content {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 81px;
  right: 0;
  left: 0;
  background-color: #ffffff;
  display: none;
  padding: 32px 0;
}
.card-add-img {
  margin-bottom: 21px;
}
.card-add {
  display: flex;
  flex-direction: column;
}
// concept section
.section-concept {
  padding: 36px 0 60px;
}
.concept-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 45px;
  @include respond-to("desktop") {
    width: 100%;
  }
  @include respond-to("phone") {
    padding: 15px;
  }
}

.page-name {
  padding: 24px 0;
  font-size: 12px;
  color: #141719;
  font-weight: 500;
}
.concept-baner {
  width: 100%;
  height: 376px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  @include respond-to("large-desktop") {
    height: 450px;
  }
  @include respond-to("desktop") {
    height: 450px;
  }
  @include respond-to("phone") {
    height: 425px;
    border-radius: 0;
  }
  @include respond-to("small-phone") {
    height: 360px;
  }
  img.baner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .concept-baner-body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 95px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 18px;
    @include respond-to("large-desktop") {
      padding: 80px;
    }
    @include respond-to("desktop") {
      padding: 36px 45px;
      justify-content: flex-end;
    }
    @include respond-to("phone") {
      padding: 20px 15px;
    }
    h1 {
      margin: 0;
      font-size: 28px;
      font-weight: 700;
      color: #ffffff;
      @include respond-to("large-desktop") {
        font-size: 24px;
      }
      @include respond-to("small-phone") {
        font-size: 16px;
      }
    }
    p {
      font-size: 16px;
      color: #ffffff;
      width: 540px;
      margin: 0;
      line-height: 26px;
      @include respond-to("large-desktop") {
        font-size: 14px;
        width: 450px;
      }
      @include respond-to("phone") {
        width: 100%;
      }
    }
    a {
      width: 150px;
      height: 50px;
      border-radius: 4px;
      position: relative;
      background-color: #3295ce;
      overflow: hidden;
      @include respond-to("phone") {
        width: 100%;
      }
      .subscribe-btn {
        z-index: 2;
        width: 100%;
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        grid-column-gap: 6px;
        color: #fff;
        font-weight: 700;
        img {
          margin-top: 2px;
        }
      }
      .subscribe-btn-background {
        background: linear-gradient(15deg, #001682, #3240e5);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.25s ease-in-out;
        z-index: 1;
      }
      &:hover {
        .subscribe-btn-background {
          opacity: 0;
        }
      }
    }
  }
}
// big message

.section-big-message {
  h2 {
    color: #141719;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    @include respond-to("large-desktop") {
      font-size: 32px;
    }
    @include respond-to("phone") {
      font-size: 28px;
    }
    @include respond-to("small-phone") {
      font-size: 24px;
    }
  }
}

// select concept

.select-concept {
  display: grid;
  height: 442px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  @include respond-to("phone") {
    grid-template-columns: 1fr;
    height: 900px;
  }
  .concept-block {
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    &:hover {
      .concept-image img {
        transform: scale(1.02);
      }
    }
    .concept-image {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.25s ease-in-out;
      }
    }
    .concept-content {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      grid-row-gap: 20px;
      @include respond-to("desktop") {
        padding: 24px;
      }
      h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        @include respond-to("phone") {
          font-size: 16px;
        }
      }
      .concept-content-link {
        display: flex;
        grid-column-gap: 6px;
        align-items: center;
        font-size: 14px;
        color: #ffffff;
        font-weight: 700;
        text-decoration: underline;
        &:hover {
          color: #aeaeae;
          text-decoration: none;
        }
      }
    }
  }
  .concept-block-big {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}
//numbers

.numbers {
  display: flex;
  grid-column-gap: 30px;
  @include respond-to("desktop") {
    flex-direction: column;
    grid-row-gap: 30px;
  }
  .numbers-card {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    padding: 40px 48px;
    flex: 1;
    span {
      color: #141719;
      font-size: 44px;
      font-weight: 700;
    }
    h5 {
      margin: 0;
      font-size: 16px;
      color: #555f62;
    }
  }
}

// slider

.slider-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none !important;
  touch-action: none;
  * {
    user-select: none !important;
    -webkit-user-drag: none;
  }
}
.slider-transform {
  transition: transform 0.3s ease-in-out;
}
.slider-wrapper {
  display: flex;
  margin: 0 -10px 38px;
}

.slide-content {
  background: #fff;
  border-radius: 10px;
}

.slide-content img {
  max-width: 100%;
  height: auto;
}
.slider-arrow-row {
  display: flex;
  align-items: center;
  gap: 24px;
  .slider-buttons-block {
    display: flex;
  }
  .slider-thumb {
    height: 2px;
    background-color: #d1d5d6;
    border-radius: 1px;
    flex: 1;
    .thumb {
      width: 30%;
      background: #182cc0;
      height: 2px;
    }
  }
}
.slider-button {
  background: rgba(0, 0, 0, 0);
  color: #a5aaac;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3 ease-in-out;
  &:hover {
    color: #182cc0;
  }
}

.offers-slide,
.products-slide,
.awards-slide {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
  @include respond-to("desktop") {
    min-width: 50%;
  }
  @include respond-to("phone") {
    min-width: 100%;
  }
}
.awards-slide-block {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 24px;
  &:hover {
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
  }
  img {
    object-fit: contain;
    height: 52px;
  }
  h4 {
    margin: 0;
    font-size: 16px;
    color: #141719;
    line-height: 30px;
    font-weight: 700;
  }
  span {
    color: #555f62;
    font-size: 14px;
  }
}
.offers-slider,
.products-block {
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  display: block;
  &:hover {
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
    img.slider-image,
    .products-image {
      top: -2px !important;
    }
  }
  .offers-slider-images,
  .products-image-block {
    position: relative;
    width: 100%;
    height: 212px;
    overflow: hidden;
    img.slider-image,
    .products-image {
      width: 100%;
      height: 102%;
      object-fit: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.25s ease-in-out;
    }
    .company-logo {
      position: absolute;
      background-color: #fff;
      border-radius: 6px 0 0 6px;
      top: 16px;
      right: 0;
      width: 78px;
      height: 58px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        padding: 5px;
        object-fit: cover;
      }
    }
  }
  .offers-slid-content,
  .product-content {
    padding: 28px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    .offers-slid-tags {
      display: flex;
      grid-column-gap: 12px;
      color: #6f787b;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 1.7;
    }
    h4 {
      font-size: 16px;
      margin: 0;
      color: #141719;
      line-height: 30px;
    }
    .product-text {
      color: #555f62;
      overflow: hidden;
      line-height: 23.8px;
      margin: 0;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }
}
// download app

.dawnload-app-section {
  background-color: #ffffff;
  padding-top: 32px;
  .dawnload-app-row {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 36px;
    @include respond-to("phone") {
      grid-column-gap: 0px;
    }
    .dawnload-app-content {
      padding-bottom: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-row-gap: 16px;
      @include respond-to("phone") {
        width: 100%;
        grid-row-gap: 28px;
      }
      .dawnload-app-mobile-image {
        max-width: 370px;
        img {
          width: 100%;
          height: 100%;
          display: none;
          object-fit: cover;
          @include respond-to("phone") {
            display: block;
          }
        }
        @include respond-to("small-phone") {
          max-width: 100%;
        }
      }
      h2 {
        color: #141719;
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }
      p {
        margin: 0;
        color: #555f62;
        font-size: 14px;
      }
      .dawnload-app-btns {
        display: flex;
        grid-column-gap: 16px;
        margin-top: 8px;
        @include respond-to("desktop") {
          grid-column-gap: 0;
        }
        .btn-desktop {
          width: 135px;
          height: 50px;
          border: 1px solid #e1e4e5;
          background-color: #ffffff;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.25s ease-in-out;
          &:hover {
            background-color: #f9fafa;
          }
          @include respond-to("desktop") {
            display: none;
          }
        }
        .btn-phone {
          display: none;
          width: 135px;
          height: 50px;
          font-size: 12px;
          font-weight: 700;
          border: 1px solid #182cc0;
          border-radius: 4px;
          grid-column-gap: 4px;
          color: #182cc0;
          transition: border-color 0.25s ease-in-out;
          &:hover {
            border-color: #e1e4e5;
          }
          @include respond-to("desktop") {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          @include respond-to("phone") {
            width: 100%;
          }
        }
      }
    }
    .dawnload-app-img {
      width: 270px;
      img {
        width: 100%;
      }
      @include respond-to("phone") {
        display: none;
      }
    }
  }
}
// footer
footer {
  background-color: #fff;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 47px;
  @include respond-to("desktop") {
    width: 100%;
  }
  @include respond-to("phone") {
    padding: 0;
  }
}
.footer-content {
  padding-bottom: 45px;
  @include respond-to("phone") {
    padding-bottom: 0;
  }
  .footer-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0;
    @include respond-to("phone") {
      padding: 50px 45px;
      border-bottom: 1px solid #d1d5d6;
    }
    @include respond-to("small-phone") {
      padding: 32px 15px;
    }
    .language-btn {
      display: flex !important;
    }
  }
}
.footer-copyrigh {
  background-color: #fff;
}
.footer-body {
  display: flex;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  @include respond-to("phone") {
    flex-direction: column;
  }
}
.footer-nav {
  overflow: hidden;
  flex: 1;
  @include respond-to("phone") {
    border-bottom: 1px solid #d1d5d6;
    padding: 36px 45px;
  }
  @include respond-to("small-phone") {
    padding: 24px 15px;
  }
  .nav-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @include respond-to("phone") {
      margin-bottom: 0;
    }
    a {
      font-size: 16px;
      color: #141719;
      font-weight: bold;
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
      @include respond-to("phone") {
        font-size: 24px;
      }
      @include respond-to("small-phone") {
        font-size: 16px;
      }
    }
    .footer-arrow {
      display: none;
      transition: transform 0.5s ease-in-out;
      @include respond-to("phone") {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .rotate {
      transform: rotate(180deg);
    }
  }
  .footer-nav-content {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    @include respond-to("phone") {
      height: 0;
    }
    .footer-nav-content-block {
      display: flex;
      flex-direction: column;
      grid-row-gap: 20px;
      @include respond-to("phone") {
        margin-top: 36px;
      }
      @include respond-to("small-phone") {
        grid-row-gap: 16px;
        margin-top: 24px;
      }
    }
    a {
      color: #555f62;
      font-size: 16px;
      transition: color 0.25s ease-in-out;
      &:hover {
        color: #182cc0;
      }
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
      @include respond-to("phone") {
        font-size: 16px;
      }
      @include respond-to("small-phone") {
        font-size: 14px;
      }
    }
  }
  .footer-nav-active {
    height: 104px;
    @include respond-to("small-phone") {
      height: 80px;
    }
  }
}
.footer-nav-contact {
  padding: 0;
  flex: 1;
  @include respond-to("phone") {
    height: 0;
    padding: 56px 45px;
  }
}
.footer-copyright {
  border-top: 1px solid #eef1f1;
  background-color: #f9fafa;
  .nav-footer-row {
    padding: 32px 0;
    @include respond-to("phone") {
      padding: 56px 45px;
    }
  }
}
.privacy-modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(20, 23, 25, 0.5);
  padding-top: 112px;
  overflow: hidden;
  display: none;
  @include respond-to("large-desktop") {
    padding-top: 80px;
  }
  @include respond-to("small-phone") {
    padding-top: 0;
  }
}
.privacy-toggle {
  display: block;
}
.privacy-modal-body {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 100vh;
  transition: all 0.5s ease-in-out;
  padding-bottom: 48px;
  .privacy-modal-heading {
    padding: 32px 56px;
    border-bottom: 1px solid #eef1f1;
    .privacy-modal-container {
      max-width: 770px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include respond-to("desktop") {
      padding: 32px 45px;
    }
    @include respond-to("small-phone") {
      padding: 24px 15px;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #141719;
      @include respond-to("small-phone") {
        font-size: 14px;
      }
    }
    .modal-close-btn {
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-color: #eef1f1;
      border-radius: 50%;
      justify-content: center;
      transition: background-color 0.25s ease-in-out;
      align-items: center;
      display: flex;
      border: 0;
      @include respond-to("small-phone") {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.privacy-text-body {
  max-width: 770px;
  margin: 0 auto;
  align-items: center;
  padding-top: 48px;
  overflow: hidden;
  height: calc(100vh - 273px);
  @include respond-to("large-desktop") {
    padding: 32px 45px;
    height: calc(100vh - 192px);
  }
  @include respond-to("small-phone") {
    padding: 24px 15px;
    height: calc(100vh - 80px);
  }
}

.privacy-text {
  flex: 1;
  overflow-y: scroll;
  height: 100%;
  padding-right: 80px;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #1c2e4a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  article {
    margin-bottom: 10px;
    h4 {
      margin: 10px 0;
      color: rgb(85, 95, 98);
      font-weight: bold;
      @include respond-to("phone") {
        font-size: 16px;
      }
    }
    h3 {
      margin: 24px 0;
      color: #141719;
      font-size: 24px;
      font-weight: 700;
      @include respond-to("phone") {
        font-size: 16px;
      }
    }
    p {
      margin: 0;
      color: rgb(85, 95, 98);
      line-height: 27px;
      font-family: 16px;
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
    }
    ul {
      list-style-type: disc;
      padding-left: 24px;
      li {
        color: rgb(85, 95, 98);
        line-height: 27px;
        font-family: 16px;
        @include respond-to("large-desktop") {
          font-size: 14px;
        }
      }
    }
    a {
      color: rgb(85, 95, 98);
      font-family: 16px;
      text-decoration: underline;
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
    }
    tbody {
      font-size: 16;
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
    }
    td {
      font-size: 16;
      @include respond-to("large-desktop") {
        font-size: 14px;
      }
    }
  }
}
.modal-body-toggle {
  top: 112px !important;
  @include respond-to("large-desktop") {
    top: 80px !important;
  }
  @include respond-to("small-phone") {
    top: 0 !important;
  }
}
.cookies-block {
  position: fixed;
  bottom: 66px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  @include respond-to("phone") {
    bottom: 24px;
  }
  @include respond-to("small-phone") {
    bottom: 44px;
  }
  .cookies {
    max-width: 700px;
    width: 100%;
    margin: 0 47px;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
    padding: 0 32px;
    border-radius: 6px;
    @include respond-to("phone") {
      bottom: 24px;
      margin: 0 15px;
    }
    .cookies-btn {
      border: 0;
      display: flex;
      align-items: center;
      grid-column-gap: 6px;
      background: white;
      cursor: pointer;
      transition: color 0.25s ease-in-out;
      color: #182cc0;
      font-weight: 700;
      font-size: 14px;
      @include respond-to("small-phone") {
        font-size: 12px;
      }
      &:hover {
        color: #3295ce;
      }
    }
  }
}
.fixed-menu {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  .fixed-menu-body {
    position: relative;
  }
  .fixed-menu-btn {
    width: 56px;
    height: 56px;
    cursor: pointer;
    user-select: none;
    background-color: #424a4d;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out;
    &:hover {
      background-color: rgba(66, 74, 77, 0.8);
    }
    @include respond-to("small-phone") {
      width: 48px;
      height: 48px;
      padding: 12px;
    }
  }
  .fixed-menu-items {
    transition: opacity 0.5s ease;
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 56px;
    bottom: 68px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 12px;
    pointer-events: none;
    @include respond-to("small-phone") {
      grid-row-gap: 8px;
      bottom: 54px;
    }
    .fixed-menu-b {
      position: relative;
      width: 56px;
      height: 56px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #eef1f1;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out;
      display: flex;
      color: rgb(85, 95, 98);
      &:hover {
        background-color: #2778a7;
        color: #ffffff;
        .fixed-menu-btn-title {
          opacity: 1;
        }
        a {
          color: #ffffff;
        }
      }
      @include respond-to("small-phone") {
        width: 48px;
        height: 48px;
        padding: 12px;
      }
      a {
        display: flex;
        color: rgb(85, 95, 98);
      }
      .fixed-menu-btn-title {
        position: absolute;
        right: 68px;
        background-color: #424a4d;
        padding: 8px 12px;
        font-size: 14px;
        color: #fff !important;
        border-radius: 6px;
        opacity: 0;
        transition: all 0.25s ease-in-out;
        text-wrap: nowrap;
        &::before {
          width: 11px;
          height: 11px;
          position: absolute;
          right: -6px;
          top: 13px;
          transform: rotate(45deg);
          z-index: 1;
          border-radius: 0 4px 0 0;
          background-color: #424a4d;
          // background-color: #2778a7;
          content: "";
        }
      }
    }
  }
  .fixed-menu-shown {
    opacity: 1 !important;
    max-height: 200px !important;
    pointer-events: all !important;
  }
}
.contact-modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(20, 23, 25, 0.5);
  display: none;
}
.contact-modal-shown {
  display: flex;
  justify-content: flex-end;
}
.contact-modal-body {
  max-width: 600px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  @include respond-to("phone") {
    max-width: 100%;
  }
  .contact-modal-heading {
    padding: 32px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eef1f1;
    @include respond-to("desktop") {
      padding: 32px 45px;
    }
    @include respond-to("small-phone") {
      padding: 24px 15px;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #141719;
      @include respond-to("small-phone") {
        font-size: 14px;
      }
    }
    .modal-close-btn {
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-color: #eef1f1;
      border-radius: 50%;
      justify-content: center;
      transition: background-color 0.25s ease-in-out;
      align-items: center;
      display: flex;
      border: 0;
      @include respond-to("small-phone") {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.modal-inputs {
  display: flex;
  flex-direction: column;
  grid-row-gap: 16px;
}
.modal-content-block {
  transition: opacity 0.7s ease, max-height 0.7s ease;
}
.modal-content-hidden {
  opacity: 0;
  max-height: 0;
  padding: 0 !important;
  z-index: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
  border-bottom: 1px solid #eef1f1;
  padding: 32px 56px;
  height: calc(100vh - 259px);
  overflow-y: scroll;
  @include respond-to("desktop") {
    padding: 32px 45px;
    height: calc(100vh - 227px);
  }
  @include respond-to("small-phone") {
    padding: 24px 15px;
    height: calc(100vh - 179px);
  }
  &::-webkit-scrollbar {
    display: none !important;
  }
  h5 {
    margin: 0;
    font-size: 14px;
    color: #555f62;
    font-weight: 400;
  }
  .modal-input-col {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-row-gap: 4px;
    label {
      position: absolute;
      top: 18px;
      left: 12px;
      font-size: 14px;
      transition: all 0.25s ease-in-out;
      transform-origin: 0 0;
      color: #6f787b;
      .req-alert {
        color: red;
      }
    }
    label.invalid-label {
      top: 6px;
      transform: scale(0.8);
    }
    .input-required {
      width: 100%;
      height: 56px;
      border: 1px solid #eef1f1;
      padding: 22px 12px 8px;
      color: #141719;
      border-radius: 4px;
      transition: border-color 0.25s ease-in-out;
      &:focus {
        border-color: #00adee;
        outline: 0;
      }
      &:hover {
        border-color: #e1e4e5;
      }
      &:focus + label {
        top: 6px;
        transform: scale(0.8);
      }
      &.requierd:invalid {
        border-color: #da1a1c;
      }
      &.requierd:invalid ~ .error-msg {
        display: block;
      }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .invalid-input {
      border-color: #da1a1c !important;
    }
    .invalid-input ~ .error-msg {
      display: block;
    }
    .error-msg {
      color: #da1a1c;
      font-size: 12px;
      display: none;
    }
  }
}
.modal-input-textarea {
  position: relative;
  margin-bottom: 14px;
  textarea {
    min-height: 112px;
    padding: 22px 12px 8px;
    resize: none;
  }
  #textarea-counter {
    position: absolute;
    top: 82px;
    right: 16px;
    color: #555f62;
    font-size: 12px;
  }
}
.modal-chackbox {
  display: flex;
  label {
    display: flex;
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    color: #555f62;
    user-select: none;
    cursor: pointer;
    &:hover {
      .custom-chackmark {
        border: 1px solid #182cc0;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      &:checked ~ .custom-chackmark {
        background-color: #182cc0;
        background-image: url(../images/custom-checkbox.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 10px;
      }
    }
    .custom-chackmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #ebeef1;
      border: 1px solid #ccc;
      border-radius: 2px;
    }
  }
  .terms-modal-btn {
    font-size: 12px;
    cursor: pointer;
    color: #262626;
  }
}
.contact-form-btn-block {
  padding: 48px 56px;
  @include respond-to("desktop") {
    padding: 32px 45px;
  }
  @include respond-to("small-phone") {
    padding: 24px 15px;
  }
  button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 6px;
    color: #a5aaac;
    font-size: 12px;
    font-weight: 700;
    border: none;
    background-color: #e9ebec;
    pointer-events: none;
    border-radius: 4px;
    overflow: hidden;
    span {
      margin-bottom: 3px;
    }
  }
  .button-valid {
    background-image: linear-gradient(15deg, #001682, #3240e5);
    color: #fff;
    pointer-events: auto;
  }
}
.terms-and-conditions {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.7s ease, max-height 0.7s ease;
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none !important;
  }
  .terms-and-conditions-block {
    display: flex;
    flex-direction: column;
    padding: 48px 56px;
    grid-row-gap: 24px;
    @include respond-to("desktop") {
      padding: 32px 45px;
    }
    @include respond-to("small-phone") {
      padding: 24px 15px;
    }
    .back-button {
      color: #141719;
      margin-bottom: 24px;
      font-size: 12px;
      font-weight: 500;
      transition: color 0.25s ease-in-out;
      display: flex;
      cursor: pointer;
      &:hover {
        color: #3295ce;
      }
    }
    h5 {
      font-size: 14px;
      margin: 0;
      color: #141719;
    }
    .terms-and-conditions-text {
      article {
        margin-bottom: 24px;
      }
      h3 {
        font-weight: 700;
        color: #141719;
        font-size: 24px;
        margin: 0 0 12px;
        @include respond-to("phone") {
          font-size: 16px;
        }
      }
      p {
        font-size: 14px;
        color: #555f62;
        line-height: 1.7;
      }
      a {
        color: #555f62;
        text-decoration: underline;
      }
    }
  }
}
.terms-show {
  opacity: 1;
  max-height: 7000px;
  overflow-y: scroll;
  z-index: 2;
}
